@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Coolvetica";
  /* Sesuaikan path di bawah ini dengan lokasi file Anda */
  src: url("./assets/fonts/CoolveticaRg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Francy";
  /* Sesuaikan path di bawah ini dengan lokasi file Anda */
  src: url("./assets/fonts/Francy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
